<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Sign Out"/>
    </form>
    <form action="http://localhost:8081/findGrades" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="text" name="subject" placeholder="subject"/>
        <button type="submit">find</button>
    </form>
    <h1>Grade list</h1>
    {{#GradeList}}
    <div>
        <b>{{id}}</b>
        <b>{{subject}}</b>
        <b>{{student}}</b>
        <b>{{grade}}</b>
        <b>{{comment}}</b>
    </div>
    {{/GradeList}}
</body>
</html>